.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(123, 69, 160, 0.138);
  width: 100%;
  max-width: 400px;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 1.25rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #333;
}

.form-group input:focus,
.form-group select:focus {
  border: 1px solid #5b2083;
  box-shadow: 0 4px 0px rgba(123, 69, 160, 0.512);

  outline: none;
}

.login-button {
  width: 100%;
  padding: 1.25rem;
  background-color: #5b2083;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #7b45a0;
}
